//- extends layout to your side
extends layout/layout

block var
	- subPage = "wanderlust-destination";
	- title = "Blog page";
block content
	// Start main-content section
	section.hero-section.text-center(data-parallax="scroll" data-image-src="images/post-bg.jpg")
		.container.hero-inner
			h1 Holidays in China
			strong.sub-title Wordpress Theme for Tours  and  Holidays in China
			ol.breadcrumb
				li
					a(href="#") Home
				li
					a(href="#") Asia
				li.active China

	section.intro-section
		.container
			.row
				.col-md-9.col-sm-8.col-xs-12.intro-block
					h2 Top Attractions in China
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
					p Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est labour. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

				.col-md-3.col-sm-4.col-xs-12
					.info-block
						.icon-wrapper
							img(src="images/china-icon.png", alt="").img-responsive
						ul.info-list
							li
								strong Best Season:
								span All Year Round
							li
								strong Popular Location:
								span The Bund, Great Wall, Mutianyu

	section.content-block.feature-section.grey-bg
		.container
			header.content-header
				h2.main-title CHINA TOURS
				span.sub-title SEO Mastered Wordpress Theme for China Tours
			.content-wrapper
				mixin postIemStyle4(imgUrl)
					article.post-item.full-width
						.thumbnail-wrapper
							img(src=imgUrl, alt="").img-responsive
							ul.addition-info
								li: img(src="images/sale-badge.png", alt="Sale off")
						.main-block
							h3.post-title: a(href="#") Urban City Tour In Paris
							span.consumed-time 18 Days
							p Son agreed others exeter period myself few yet nature. Mention mr manners opinion if garrets enabled. To an occasional dissimilar impossible sentiments.
							.rating-wrapper
								.star-rating
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star
									i.icon-star
								span.value Based on 2 Reviews
							footer
								ul.icons-list
									li: i(title="Europe", data-toggle="tooltip").icon-europe
									li: i(title="Mountain", data-toggle="tooltip").icon-mountain
									li: i(title="Mountain-biking", data-toggle="tooltip").icon-mountain-biking
								ul.action-icons
									li.has-dropdown-menu
										a(href="#"): i.icon-share
										ul.dropdown-social-share
											li: a(href="#", title="Facebook") 
												i.icon-facebook
												span.text Facebook
											li: a(href="#", title="Twitter") 
												i.icon-twitter
												span.text Twitter
											li: a(href="#", title="Google plus")
												i.icon-google-plus
												span.text Google plus
											li: a(href="#", title="Pinterest") 
												i.icon-pin
												span.text Pinterest
									li
										a(href="#"): i.icon-favs
						.aside-block
							.price from <br/>
								del.old-price $799
								span.discounted-price $599
							.activity-level
								i.icon-level7
								span.text Extreme
							a(href="#").button-default explore
					// End POST-ITEM

				+postIemStyle4("images/img01-550x358.jpg")
				+postIemStyle4("images/img02-550x358.jpg")
				+postIemStyle4("images/img01-550x358.jpg")
	// End feature-section

	section.content-block.recent-viewed-section
		.container
			header.content-header
				h2.main-title RECENTLY VIEWED
				span.sub-title We have a unique way of meeting your adventurous expectations!
			.content-wrapper.row
				mixin postIemStyle3(imgUrl)
					.col-lg-3.col-md-4.col-sm-4.col-xs-12
						article.post-item.style3
							h3.post-title: a(href="#") City Tours in Europe
							.post-activity
								a(href="#") Jungle
								a(href="#") Mountain
								a(href="#") Rural
							.thumbnail-wrapper
								img(src=imgUrl, alt="").img-responsive
								ul.addition-info
									li: img(src="images/sale-badge.png", alt="Sale off")
							footer
								.info-left.icons-list
									i(title="Europe").icon-europe
									i(title="Mountain").icon-mountain
									i(title="Mountain-biking").icon-mountain-biking
								.info-right
									span 9 Hours
									.price
										del.old-price $799
										span.discounted-price $599
					// End post-item

				+postIemStyle3("images/img01-550x358.jpg")
				+postIemStyle3("images/img01-550x358.jpg")
				+postIemStyle3("images/img01-550x358.jpg")
				+postIemStyle3("images/img01-550x358.jpg")