// Start footer-section
footer.footer-section
	.widget-wrapper
		.container
			.row
				.col-md-3.col-sm-3.col-xs-12
					h3.widget-title About Entrada
					ul.widget-list
						li: a(href="#") The Company
						li: a(href="#") Our Values
						li: a(href="#") Responsibility
						li: a(href="#") Our Mission
						li: a(href="#") Opportunity
						li: a(href="#") Safety Concerns
				.col-md-3.col-sm-3.col-xs-12
					h3.widget-title Destinations
					ul.widget-list
						li: a(href="#") Netherlands
						li: a(href="#") Nepal
						li: a(href="#") Canada
						li: a(href="#") France
						li: a(href="#") Germany
						li: a(href="#") United Kingdom
				.col-md-3.col-sm-3.col-xs-12
					h3.widget-title Booking Terms
					ul.widget-list
						li: a(href="#") Booking Conditions
						li: a(href="#") My Bookinws
						li: a(href="#") Refund Policy
						li: a(href="#") Includes & Excludes
						li: a(href="#") Your Responsibilities
						li: a(href="#") Order a Brochure
				.col-md-3.col-sm-3.col-xs-12
					h3.widget-title About Entrada
					ul.widget-list.contact-info
						li
							span.icon-tel
							a(href="tel:02072077878") (020) 72077878
						li
							span.icon-fax
							| (020) 72077878
						li
							span.icon-email
							a(href="mailto:support@waituk.net") support@waituk.net
						li
							span.icon-home
							address 707 London Road Isleworth Middx TW7 7QD

	.footer-bottom
		.container
			.row
				.col-md-6.col-sm-6.col-xs-12
					Copyright © 2017 Wanderlust. All Rights Reserved.
				.col-md-6.col-sm-6.col-xs-12
					ul.payment-option.hidden-xs
						li: img(src="images/payment/visa.png", alt="")
						li: img(src="images/payment/mastercard.png", alt="")
						li: img(src="images/payment/paypal.png", alt="")
						li: img(src="images/payment/maestro.png", alt="")
						li: img(src="images/payment/bank-transfer.png", alt="")
							
a(href="#")#crollToTop.smooth-scroll
	i.icon-arrow-down